/* src/styles/ForgotPassword.css */
.forgot-password-container {
  max-width:50px;
  margin: 60px auto;
  padding: 20px;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.signup-title {
  text-align: center;
  color: #d5006d;
  margin-bottom: 24px;
  font-size: 28px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form input {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.submit-button {
  padding: 8px 16px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  border: 2px solid #4caf50 !important;
  color: #d5006d !important;
  background-color: transparent !important;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.submit-button:hover {
  background-color: #d5006d;
  border-color: #d5006d;
  color: white;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}

.form-actions {
  display: flex;
  justify-content: center; /* Align the button in the center */
  width: 100%;
}

.submit-button {
  width: 100%; /* Full width for the submit button */
}

.link-button {
  width: 100%;
  color: #d5006d;
  font-size: 0.95rem;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.link-button:hover {
  color: #b4004e;
}
